/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap'); */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

span {
    color: white;
}

.digit {
    font-size: 130px;
    margin: 10px;
}

.txt {
    margin-top: 50px;
    margin-right: 20px;
}

#buttons {
    margin-top: 30px;
}

.btn {
    font-size: 20px;
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    margin: 0px 20px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    padding-top: 6px;
    color: whitesmoke;

}

#start {
    background-color: green;
}

#start:hover {
    background-color: rgba(0, 128, 0, 0.400);
}

#stop {
    background-color: blue;
}

#stop:hover {
    background-color: rgba(0, 0, 255, 0.400);
}

#reset {
    background-color: orangered;
}

#reset:hover {
    background-color: rgba(255, 68, 0, 0.400);
}